<div class="blockquote">
    {% if inverse %}
    <div class="row mt-5 p-3">
        <div class="col-8 text-right">
            <h3>{{ title|default:"No title" }}</h3>
            <p>{{ content|default:"No content"}}</p>
        </div>
        <div class="col-3">
            <img class="img-fluid img-rounded" src="{{ image }}">
        </div>
    </div>
    {% else %}
    <div class="row mt-5 p-3">
        <div class="col-3">
            <img class="img-fluid" src="{{ image }}">
        </div>
        <div class="col-8">
            <h3>{{ title|default:"No title" }}</h3>
            <p>{{ content|default:"No content"}}</p>
        </div>
    </div>
    {% endif %}
</div>