{% extends "base/base.html" %}

{% block content %}
    {% include "base/content.html" with content="instaclone a pour but de copier le principe d'instagram" image="https://www.rowinschmidt.nl/assets/content/uploads/logos/instaclone.png" title="instaclone" %}
    {% include "base/content.html" with content="publier sans compte des photos de vos vacances ou de ce que vous voulez" image="https://jeanlucraymond.files.wordpress.com/2017/04/instagram.jpg?w=497&h=373" title="Pas besoin de devenir membre" inverse="true" %}
{% endblock %}